body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #818181;
}
h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}
h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #130404;
  font-weight: 400;
  margin-bottom: 30px;
}  
.jumbotron {
  background-color: #f4511e;
  color: rgb(15, 3, 3);
  padding: 100px 25px;
  font-family: Montserrat, sans-serif;
}
.container-fluid {
  padding: 50px 40px;
}
.bg-grey {
  background-color: #f6f6f6;
}
.logo-small {
  color: #f4511e;
  font-size: 50px;
}
.logo {
  color: #f4511e;
  font-size: 200px;
}
.thumbnail {
  padding: 15px 0 15px 0;
  border: none;
  border-radius: 0;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #f4511e;
}
.carousel-indicators li {
  border-color: #f4511e;
}
.carousel-indicators li.active {
  background-color: #f4511e;
}
.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}
.item span {
  font-style: normal;
}
.panel {
  border: 1px solid #f4511e; 
  border-radius:0 !important;
  transition: box-shadow 0.5s;
}
.panel:hover {
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
  border: 1px solid #f4511e;
  background-color: #fff !important;
  color: #f4511e;
}
.panel-heading {
  color: #fff !important;
  background-color: #f4511e !important;
  padding: 50px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.panel-footer {
  background-color: white !important;
}
.panel-footer h3 {
  font-size: 32px;
}
.panel-footer h4 {
  color: #aaa;
  font-size: 14px;
}
.panel-footer .btn {
  margin: 15px 0;
  background-color: #f4511e;
  color: #fff;
}
.navbar {
  margin-bottom: 0;
  background-color: #130501;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #f4511e !important;
  background-color: #fff !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}
footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: #f4511e;
}
.slideanim {visibility:hidden;}
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 968px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 480px) {
  .logo {
    font-size: 150px;
  }
}

.we-container {
  mx-width: 1000px; /* Adjust the maximum width as needed */
  margin: 2px auto;
  background-color: #000;
  color: white;
  
}

.we-header {
  text-align: center;
  padding: 20px;
  font-size: 50px;
}
.we-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  
}

.we-grid-item {
  flex: 1 0 25%; /* Adjust the percentage value to change the number of images in a row */
  max-width: 25%; /* Adjust the percentage value to change the number of images in a row */
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.we-grid-item img {
  max-width: 100%;
  height: auto;
}

.we-grid-item p {
  margin-top: 5px;
  font-size: 14px;
  margin: 5px;
}


.shop-group{
  padding: 1em;
  position: relative;
  margin-left: 20px;
  box-shadow: 10px 10px 30px rgba(139, 212, 133, 0.973);
  align-content: center;
  margin: 10px;

}


.shop-img{
  height: 200px;
  width: 200px;
  display: inline-block;
  padding: 1em;

}

.shop-text1{
  font-size: 25px;
  text-align: center;
  font-weight: bold;

}
.shop-text2{
  font-size: 15px;
  text-align: center;

}
.shop-text3{
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  color: rgb(2, 189, 2);
}

.tag{

  position: absolute;
  top: 0px;
  right: 15px;
  background-color: #0c0a0a;
  color: #fff;
  padding: 5px 10px;
  font-size: 15px;
  border: none;

}