body{
    border: 3px solid;
    border-color: black;
    width: 100%;
    height: auto;
    
}


/**HEAD1**/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 10px;
  color: white;
}

.header-link{
  text-decoration: none;
}
.left-section {
  display: flex;
  align-items: center;

}

.right-section {
  display: flex;
  align-items: center;
}

.name-logo{
  height: 60px;
  width: 150px;
  margin-right: 10px;
  
}

.email-logo, .call-logo {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.name {
  font-weight: bold;
  font-size: 50px;
  text-decoration: none;
  color: white;
 
}

.contact-info {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.email,
.phone {
  margin-right: 10px;
  font-size: 20px;
}



/**HEAD2**/


.header2-container {
  display: flex;
  align-items: center;
  background-color: #16ec16;
  padding: 10px;
  border-bottom: 10px solid;
  border-color: #2c0aeb;
  
}

.left-section {
  flex: 1;
  display: flex;
  align-items: center;
}

.middle-section {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}


.home, .shop-cars, .about, .contact, .terms {
font-size: 30px;
color: black;
font-weight: bold;
 margin-left: 30px;
 text-decoration: none;
 
}

.dropdown {
  display: inline-block;
  position: relative;
  left: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 200px;
  z-index: 1;
}

.dropdown-content a {
  background-color: white;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 30px;
}

.dropdown-content:hover{
  background-color: rgb(36, 13, 241);

}

/**SEARCH**/
.search{
  width: 250px;
  height: 30px;
  margin-right: -2px;
}
.searchbtn{
  width: 70px;
  height: 35px;

}
.search-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.search-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid rgb(119, 119, 119);
  width: 80%;
  max-width: 600px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/**SLIDE**/
.slider-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: -20px;
  }

  .slider-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .slider-text {
    position: absolute;
    botom: 300px;
    color: white;
    font-size: 30px;
    top:200px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
text-align: center;
background:auto;
justify-items: center;
  }




/**BROWSE BY MAKE**/
.make, .style{
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.car-make{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 100px;
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
 
}

.a{
    height: 70px;
    width: 70px;
}

.car-style{

    font-size: 30px;
    font-weight: bold;
  
    
}

/**SHOP**/

.shop{
    background-color: black;
    font-size: 30px;
    color: white;
    text-align: center;
}

.shop-get{
    background-color: #27e657;
    font-size: 20px;
    text-align: center;
}

.shop-container{
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,  1fr));
    border: 0em;
    margin-top: 10px;
    padding: 1em 5em;
    padding-bottom: 20px;

}

.shop-group{
    padding: 1em;
    position: relative;
    margin-left: 20px;
    box-shadow: 10px 10px 30px rgba(139, 212, 133, 0.973);
    align-content: center;
    margin: 10px;
 
}


.shop-img{
    height: 200px;
    width: 200px;
    display: inline-block;
    padding: 1em;
 
}

.tag{

    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #0c0a0a;
    color: #fff;
    padding: 5px 10px;
    font-size: 15px;
    border: none;

}

.shop-text1{
    font-size: 25px;
    text-align: center;
    font-weight: bold;

}
.shop-text2{
    font-size: 15px;
    text-align: center;

}
.shop-text3{
    font-size: 25px;
    text-align: center;
    font-weight: bold;

}



.view-cont{
  display: flex;
  align-items: center;
      justify-content: center;
      heght: 200px;
      margin: 20px;
    
}
.viewbtn{
    padding: 10px 20px;
    background-color: #36f456;
    color: black;
    font-size: 20px;
    border-radius: 40px;
    border: none;
 
}
.viewbtn:hover{
    background-color: #82e792;
   
}

.view-link{
    text-decoration: none;
}


/**MODAL**/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    
  }

  .modalbtn{
    position: absolute;
    width: 100%;
    height: 30px;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      padding: 0px 5px;
      background-color: #e71e0f;
      color: #fff;
      font-size: 18px;
      cursor: pointer;
   
  }

  .modalbtn:hover{
    background-color: #f09390;
  }

  .modal-content {
    position: fixed;
    left: 50%;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 30px;
    border: 1px solid #888;
    max-width: 100%;
    max-height: 100%;
    overflow-y: auto;
    tet-align: center;
    width: 95%;
  }

  .modal-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .modal-close{
    size: 30px;
  }


  /**DETAIL**/
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }


  .parent-container {
    display: inline-block;
    margin-right: 20px;
    text-align: center;

    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .parent-image {
    width: 610px;
    height: 350px;
    border: 1px solid #ccc;
    margin-bottom: 10px;

   
    justify-content: center;
    align-items: center;
  
  }
  .parent-image img {
    max-width: 100%;
    max-height: 100%;
  }
  .mainImage{
   
    
  }

  .child-image {
    width: 85px;
    height: 80px;
    border: 1px solid #ccc;
    margin-top: 5px;
    cursor: pointer;
    
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .child-container{
    display: flex;
   
  }

/**
  .parent-container {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .parent-image {
    width: 500px;
    height: 500px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .parent-image img {
    max-width: 100%;
    max-height: 100%;
  }

  .child-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100px;
    height: 100px;
  }

  .child-images img {
    width: 100px;
    height: 100px;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
    margin-left: 6px;
  }
**/

  .icon-grid {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
  }

  .icon-grid .details-header1 .details-header2{
    grid-column: 1 / 3;
    text-align: center;
    font-weight: bold;
  }
  .details-header1{
    font-size: 40px;
    font-weight: bold;
   
  
 
  }
  .details-header2{
    font-size: 20px;
    font-weight: bold;
   
  }

  .icon-grid .item {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px;
  }

  .icon-grid .item .icon {
    font-size: 24px;
    margin-right: 10px;
  }

.line-border1{
    background-color: #27e657;
    height: 20px;
    width: 100%;
    margin-top: -5px;

}
.line-border2{
    background-color: black;
    height: 20px;
    width: 100%;

}





/**WHY**/
  .why-cont{
  justify-items: center;
  background-color:black;
  color: white;
 

  }

  .why-head{
    font-size: 40px;
    text-align: center;
    

  }

  .why-img{
    margin-bottom: 0px;
    padding: 1em 3em;
    display: grid;
    grid-gap: 0em;

    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    
  }


/**RELATED**/

  .related-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .related-post {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
  }

  .related-post h3 {
    margin-top: 0;
  }




/**FOOTER**/

  .footer {
    background-color:#36f456;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 10px;
  }

  .footer-left {
    grid-column: 1 / 4;
    display: flex;
    align-items: center;
    
  }

  .footer-left a {
    margin-right: 10px;
    text-decoration: none;
    
    margin-bottom: 30px;
  }

  .footer-right {
    grid-column: 8 / 11;
    text-align: right;
  }

  .footer-right p {
    margin-bottom: 5px;
  }

  .footer-social {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 10px;
    
  }

  .footer-social a {
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
  }

  .copyright-text{
    text-align: center;
  }


  /**ABOUT**/

.about-us{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    background-color: black;
    color: white;
}
.about-text{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    border: 2px solid;
}



.modalx {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .modal-contentx {
    background-color: #fefefe;
    marin: 10% auto;
    padding: 20px;
    max-width: 100%;
  }

  .modal-contentx img {
    max-width: 100%;
    height: auto;
  }

  .modal-contentx p {
    margin-top: 10px;
  }

  .modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .modal-close:hover,
  .modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }